.wrapper {
	width: 100%;
	min-width: 900px;
	min-height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 70px;
	background: sandybrown;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	position: relative;
}

.container {
	overflow: hidden;
	padding: 15px 15px 15px 10px;
	margin: 0px;
	width: auto;
	min-width: 600px;
}

.content {
}

.form-group {
	margin: 0px;
}

.table>tbody>.cst-table>td {
	padding: 2px;
}

.tbl-frm-btn {
	margin-top: 50%;
	margin-bottom: 50%;
}

.error-message {
	margin: 3px;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	width: 200px;
	float: left;
	padding: 15px 10px 15px 15px;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {  }