<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Timesheet</display-name>

    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/timesheet/</url-pattern>
        <url-pattern>/timesheet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>ru.leonvsg.education.timesheet.controllers.UsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/timesheet/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>auth_user</servlet-name>
        <servlet-class>ru.leonvsg.education.timesheet.controllers.AuthController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>auth_user</servlet-name>
        <url-pattern>/auth</url-pattern>
        <url-pattern>/timesheet/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>group</servlet-name>
        <servlet-class>ru.leonvsg.education.timesheet.controllers.GroupController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>group</servlet-name>
        <url-pattern>/timesheet/group</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>course</servlet-name>
        <servlet-class>ru.leonvsg.education.timesheet.controllers.CourseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>course</servlet-name>
        <url-pattern>/timesheet/course</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>ru.leonvsg.education.timesheet.controllers.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/timesheet/user</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>auth_filter</filter-name>
        <filter-class>ru.leonvsg.education.timesheet.controllers.filters.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>auth_filter</filter-name>
        <url-pattern>/timesheet/*</url-pattern>
    </filter-mapping>

</web-app>